.git
.gitignore
.dockerignore

backend/.env
backend/.env.*
!backend/.env.example
backend/vendor/
backend/storage/app/*
!backend/storage/app/.gitignore
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/bootstrap/cache/*.php
backend/.phpunit.result.cache

frontend/.env
frontend/.env.*
frontend/.expo/
frontend/.expo-shared/
frontend/node_modules/
frontend/dist/
frontend/web-build/
frontend/android/
frontend/ios/

node_modules/
npm-debug.log
yarn-error.log
*.log
