backend
backend/
backend/**
frontend/node_modules
frontend/node_modules/
frontend/eas-inspect
frontend/eas-inspect/
frontend/eas-inspect/**
frontend/eas-build*.log
frontend-web/node_modules
frontend-web/node_modules/
frontend-web
frontend-web/
frontend-web/**
frontend-web/.next
frontend-web/.next/
node_modules
node_modules/
**/node_modules/**
*.log
*.apk
*.aab
.git
.git/
